<!--<div class="flex flex-col gap-3 text-left">

    @if (label) {
    <label [for]="id" class="text-sm font-medium text-gray-950">
        {{ label }}
    </label>
    }

    <div class="relative w-full">
        <select [id]="id"
            class="h-9 w-80 px-3 border border-gray-300 rounded-md text-sm text-gray-950 appearance-none focus:outline-none focus:ring-1 focus:border-blue-600 focus:ring-blue-600">

            @for (option of options; track option.value) {
            <option [value]="option.value">
                {{option.label}}
            </option>
            }
        </select>

        <div class="absolute inset-y-0 right-2 flex items-center pointer-events-none text-zinc-400">
            <ng-icon name="heroChevronDownMicro" class="text-base"></ng-icon>
        </div>

    </div>


</div>-->

<div class="flex flex-col gap-3 text-left" [style.width]="width">

    @if (label) {
    <label [for]="id" class="text-sm font-medium text-gray-950">
        {{ label }}
    </label>
    }

    <div class="relative w-full">

        <button type="button" [id]="id" (click)="toggleDropdown()" class=" flex items-center justify-between w-full pl-3 pr-2 h-9 border border-gray-300 hover:border-gray-400 rounded-md text-sm bg-slate-50 cursor-pointer
            focus:outline-none focus:border-gray-400" [class.text-gray-950]="selectedValue"
            [class.text-zinc-400]="!selectedValue">
            <span class="truncate">{{ selectedValue || placeholder }}</span>

            <ng-icon name="heroChevronDownMicro" size="1rem" class="text-zinc-400 transition-transform duration-200"
                [class.rotate-180]="isOpen">
            </ng-icon>
        </button>

        @if (isOpen) {
        <div class="fixed inset-0 z-40" (click)="toggleDropdown()"></div>

        <div
            class="absolute p-1 top-full left-0 w-full mt-2.5 bg-slate-50 border border-gray-300 rounded-md shadow-lg z-50 max-h-60 overflow-auto">

            @for (option of options; track option) {
            <button type="button" (click)="selectOption(option)"
                class="w-full flex items-center justify-between px-3 h-9 text-sm rounded-sm cursor-pointer text-gray-950 hover:bg-zinc-100 hover:text-blue-600 transition-colors"
                [class.text-blue-600]="option === selectedValue" [class.font-semibold]="option === selectedValue"
                [class.text-gray-950]="option !== selectedValue">

                <span class="truncate">{{ option }}</span>

                @if (option === selectedValue) {
                <ng-icon name="heroCheck" class="text-xl"></ng-icon>
                }

            </button>
            }

        </div>
        }

    </div>
</div>