<div class="flex flex-col gap-3 text-left" [style.width]="width">

    @if (label) {
    <label class="text-sm font-medium text-gray-950">
        {{ label }}
    </label>
    }

    <div class="relative w-full">

        <button type="button" (click)="toggleDropdown()" class="flex items-center justify-between w-full pl-3 pr-2 h-9 border border-gray-300 rounded-md hover:border-gray-400 text-sm bg-slate-50 cursor-pointer
             focus:outline-none focus:border-gray-400">
            <div class="flex items-center gap-2 overflow-hidden">

                @if (selectedCount > 0) {

                <span
                    class="flex flex-row items-center justify-center text-xs font-medium text-(--color-icon-primary) min-w-5 py-0.5 px-1.5 rounded-full bg-zinc-100">
                    {{ selectedCount }}
                </span>
                }

                <span class="truncate" [class.text-gray-950]="selectedCount > 0"
                    [class.text-zinc-400]="selectedCount === 0">
                    {{ displayText }}
                </span>
            </div>

            <ng-icon name="heroChevronDownMicro" size="1rem" class="text-zinc-400 transition-transform duration-200"
                [class.rotate-180]="isOpen">
            </ng-icon>
        </button>

        @if (isOpen) {
        <div class="fixed inset-0 z-40" (click)="toggleDropdown()"></div>

        <div
            class="absolute p-1 top-full left-0 w-full mt-2.5 bg-slate-50 border border-gray-300 rounded-md shadow-lg z-50 max-h-60 overflow-auto">

            <div class="mb-1 ">
                <app-inputc type="text" placeholder="Pesquisar..." [value]="searchTerm" (input)="onSearch($event)"
                    (click)="$event.stopPropagation()">
                </app-inputc>

            </div>

            @for (option of filteredOptions; track option) {
            <button type="button" (click)="toggleOption(option)"
                class="w-full flex items-center justify-between px-3 h-9 text-sm rounded-sm cursor-pointer text-gray-950 hover:bg-zinc-100 hover:text-blue-600 transition-colors"
                [class.text-blue-600]="isSelected(option)" [class.text-gray-950]="!isSelected(option)"
                [class.font-semibold]="isSelected(option)">
                <span class="truncate">{{ option }}</span>

                @if (isSelected(option)) {
                <ng-icon name="heroCheck" class="text-xl"></ng-icon>
                }
            </button>
            }

            @empty {
            <div class="px-3 py-4 text-center text-sm text-gray-500">
                Nenhum resultado para "<span class="font-semibold">{{ searchTerm }}</span>"
            </div>
            }

        </div>
        }
    </div>
</div>